<h1 class="center opener">Build Your Virtual Wine Rack</h1>
<h3 class="opener center">Choose a point on the map.</h3>
<div id="map"></div>

<ul id="legend">
  <li class="red">Red </li>
  <li class='white'>White </li>
  <li class='sparkling'>Sparkling </li>
  <li class='speciality'>Speciality </li>
  <li class='fortified'>Fortified </li>
</ul>
<script type="text/javascript">
		
		var map = L.mapbox.map('map', 'dhurley99.j5jm8p4i').setView([44.239, -50.055], 3);

    $.ajax( {
      url: '/',
      dataType: 'json',
      type: 'GET',

    }).done(function(data) {
        map.featureLayer.setGeoJSON(data);
        map.featureLayer.on('click', function(e) {
          e.layer.unbindPopup();
            window.open(e.layer.feature.properties.url);
        });
    });

   map.scrollWheelZoom.disable();


</script>