<h1>Welcome#home</h1>
<div id="map"></div>

<style type="text/css">
	
	#map {
		width: 100%;
		height: 600px;
	}
</style>

<script type="text/javascript">
		
		var map = L.mapbox.map('map', 'dhurley99.j5jm8p4i').setView([49.239, -1.055], 2);

    $.ajax( {
      url: '/',
      dataType: 'json',
      type: 'GET',

    }).done(function(data) {
        map.featureLayer.setGeoJSON(data);
        map.featureLayer.on('click', function(e) {
          e.layer.unbindPopup();
            window.open(e.layer.feature.properties.url);
        });
    });

   map.scrollWheelZoom.disable();


</script>