$firstColor: #CF000F;

.container {
  margin: 0 auto;
}    
.bar {
  margin: 0 auto;

  a{
    background:$firstColor center center no-repeat;
    width:100px;
    height:50px;
    display:inline-block;
    text-decoration:none !important;
    margin-right:5px;
    border-radius:2px;
    cursor:pointer;
    color: white;
    opacity: 0.3;
    line-height: 50px;
    font-size: 1.5em;
    &.active {
      background-color: $firstColor;
      opacity: 1;
    }
  }

  input{
    background:#fff no-repeat 13px 13px;

    border: none;
    width: 100%;
    line-height: 19px;
    padding: 11px 0;

    border-radius: 2px;
    box-shadow: 0 2px 8px #c4c4c4 inset;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    color: #738289;
    font-weight: bold;
    outline: none;
    text-indent: 40px;
  }
}    


/*-------------------------
  List layout
--------------------------*/

ul.list{
  list-style: none;
  width: 75%;
  margin: 0 auto;
  text-align: left;

  li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    overflow: hidden;

    img {
      width:120px;
      height:120px;
      float:left;
      border:none;
    }

    p {
      margin-left: 135px;
      font-weight: bold;
      color:#6e7a7f;
    }
  }
}


/*-------------------------
  Grid layout
--------------------------*/

ul.grid{
  list-style: none;
  width: 100%;
  margin: 0 auto;
  text-align: left;

  li {
    padding: 2px;
    float:left;

    img {
      width:280px;
      height:280px;
      display:block;
      border:none;
    }
  }
}


  
