// Place all the styles related to the wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$fontColor: #CF000F;
$secondColor: #DADFE1;

.o-link {
		
		color: $fontColor;
		text-decoration: none;
		padding: 10px;
		
		a {
			color: $fontColor;
		}
		
		&:hover {
			background-color: $secondColor;
			color: $fontColor;
		}
		
}

.page {

	width: 25%;
	margin: 0 auto;
}

.box {

	height: 250px;
	width: 225px;
	overflow: hidden;
	h3 {
		color: $fontColor;
		text-decoration: none;
	}

	&:hover {
		background-color: $fontColor;
		opacity: 0.6;

		h3 {
			color: white;
		}
	}

}

#wine-listing {
	width: 90%;
	margin: 0 auto;
}